@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    background-color: #faf4f4;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.contenedor {
    background-color: #d9f0d3;
	width: 25%;
	max-width: 400px;
	min-width: 100px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
	margin: 0 1rem;
	border-radius: 0.5rem;
}

#contenedor-derecho {
	order: 1;
}

.contenedor-componente {   
	position: relative;
	height: 20%;
	width: 50%;
}

.componente {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;
}

.grande {
	max-height: 100%;
	max-width: 100%;
}

.mediano {
	max-height: 60%;
	max-width: 60%;
}

.chico {
	max-height: 30%;
	max-width: 30%;
}

#contenedor-titulo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 170px;
	color: #fff;
    /* text-align: center; */
	font-size: 4rem;
    font-style: italic;
	transition: font-size 0.3s;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

@media (max-width: 1590px) {
	#contenedor-titulo {
		font-size: 2rem;
	}
}

.cielo {
	height: calc(50% - 85px);
	width: 100%;
	background: #BDE6F1;
	border-radius: 10px 10px 0 0;
	/* position: absolute;
	bottom: 0.5%;
	left: 20%; */
	opacity: 0.5;
	z-index: 1;
}

.suelo {
	height: calc(50% - 85px);
	width: 100%;
	background: #C9E4C5;
	/* position: absolute;
	bottom: 1%;
	left: 20%; */
	border-radius: 0 0 10px 10px;
	opacity: 0.5;
	z-index: -1;
}

#plazita {
	width: 50%;
	min-width: 300px;
}

#pagina {
	display: flex;
	height: 90vh;
	width: 70%;
	/* margin: auto; */
}

